// General Settings
$v-app-loading-text: "Please wait ...";
$v-background-color: #f2dda4;
$v-app-background-color: #f0e5d1;
$v-selection-color: #946a4e;
$normal-background-color: #ffffff;

// Font Settings
$v-font-color: #946a4e;
$v-font-size: 11px;
$v-font-family: Helvetica, sans-serif;


// Inverse colors
$v-font-color-inverse: #783632;
$v-background-color-inverse: #c9a975;
$v-link-font-color: $v-font-color-inverse;

// Tooltip colors
$v-tooltip-background-color: $v-font-color;
$v-tooltip-font-color: $v-app-background-color;

// Component Features
$v-border-radius: 2px;
$v-border: 0px solid v-tone;
$v-gradient: v-linear 20%;

// Margin
$v-layout-margin-top: 15px;
$v-layout-margin-left: 30px;
$v-layout-margin-right: 15px;
$v-layout-margin-bottom: 10px;

$v-layout-spacing-vertical: 0px;
$v-layout-spacing-horizontal: 0px;
$v-tooltip-padding-vertical: 0px;
@import "../valo/valo";

.custom {
  @include valo;
  
  .inverse{
  	color: $v-font-color-inverse;
  	background-color: $v-background-color-inverse;
  }
  
  .normal{
  	color: $v-font-color;
  	background-color: $normal-background-color;
  }
  
  .footer{
    width: 100%;
  	color: $v-background-color-inverse;
  	background-color: $v-font-color-inverse;
  }
  
  .header {
  	width: 100%;
  	background-color: $v-font-color;
  	color:  $v-background-color-inverse;  	  	
  }
  
  .header * {
  	text-align: center;
  	font-size: $v-font-size * 3;  	
  }
  
 .about{
 	font-size: $v-font-size * 1.5;
  	text-align: justify;
  	line-height: 2;  	
 }
  
  b{
  	font-weight: bold;
  }
  
  i{
  	font-style: italic;
  }
  
}