
	<table width="100%" cellspacing="0" cellpadding="0">
		<col width="30%">		
  		<col width="70%">  		
		<tr>
			<td class="inverse firstCol" valign="top">
				<div class="header" location="header">h</div>
				<div class="header" location="foto">f</div>
				<div location="about_me">a</div>
				<div location="skills">s</div>
			</td>
			<td class="normal secondCol" valign="top">
				<div location="education">e</div>
				<div location="work">w</div>
				<div location="other">o</div>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<div class="footer" location="footer">f</div>
			</td>
		</tr>
	</table>
